/* 
  全局样式
*/

html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.el-breadcrumb {
  font-size: 14px;
  margin-bottom: 15px;
}

.el-table, .zk-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 20px;
}

.el-cascader-panel {
  height: 350px !important;
}